@using JaggeryAgro.Core.Entities
@model Payment
@{
    ViewData["Title"] = "देयक तपशील";
}

<div class="container mt-4">
    <div class="text-center my-4">
        <h2 class="fw-bold text-white bg-success px-4 py-2 d-inline-block rounded-3 shadow mb-4">
            @ViewData["Title"]
        </h2>
    </div>


    <dl class="row">
        <dt class="col-sm-3">मजूर नाव</dt>
        <dd class="col-sm-9">@Model.Labor</dd>

        <dt class="col-sm-3">रक्कम</dt>
        <dd class="col-sm-9">₹@Model.Amount</dd>

        <dt class="col-sm-3">देयक तारीख</dt>
        <dd class="col-sm-9">@Model.PaidOn.ToShortDateString()</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
        <i class="fas fa-edit me-1"></i> संपादित करा
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left me-1"></i> यादीकडे परत जा
    </a>

</div>
